<%- include("partials/header") %>
<h1>
	This is the home page!!
</h1>

<img src="https://images.unsplash.com/photo-1494253109108-2e30c049369b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80">;

<%- include("partials/footer") %>